<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <style>
            .online-status {
                position: flex; 
                top: 35px; 
                right: 21px; 
                width: 10px; 
                height: 10px; 
                background-color: #00bf00; 
                border-radius: 50%;
            }

            .offline-status {
                position: flex; 
                top: 35px; 
                right: 21px; 
                width: 10px; 
                height: 10px; 
                background-color: rgba(255, 255, 255, 0); 
                border-radius: 50%;
            }

            #chat-container {
                max-height: 547px;
                overflow-y: auto;
                border-radius: 10px; /* Điều này tạo bo tròn cho phần cuộn */
                scrollbar-color: transparent transparent; /* Ẩn mũi tên thanh cuộn trên Firefox */
            }

            /* Thanh cuộn cho các trình duyệt ngoại trừ Firefox */
            #chat-container::-webkit-scrollbar {
                width: 8px;
            }

            #chat-container::-webkit-scrollbar-thumb {
                background-color: transparent; /* Ẩn mũi tên thanh cuộn trên WebKit */
            }

            #chat-container::-webkit-scrollbar-track {
                background-color: transparent; /* Màu nền của thanh cuộn */
            }
        </style>

        <!-- App css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.css" rel="stylesheet" type="text/css" id="light-style" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" ></script>

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    
                    {{>header}}

                    <div>
                        {{{body}}}
                    </div>
                    
                    {{>footer}}
                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        

        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>

    </body>

</html>
